ExternalServices/Web References/PatientEligibilityService/Service0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://realtime.mtbc.com" elementFormDefault="qualified" targetNamespace="https://realtime.mtbc.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.30.47:8010/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="MTBC271Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q1:MTBC270RequestData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="authentication" nillable="true" type="q2:MTBCClientAuthentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MTBC271ResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MTBC271ResponseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MTBCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objRequest" nillable="true" type="q3:MTBC270RequestData" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objMtbcData" nillable="true" type="q4:MTBCData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MTBCResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MTBCResponseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MTBC837String">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q5:MTBC837RequestData" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="authentication" nillable="true" type="q6:MTBCClientAuthentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MTBC837StringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MTBC837StringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>