ExternalServices/Web References/PatientEligibilityService/Service0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://realtime.mtbc.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://realtime.mtbc.com/Service.svc" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="https://realtime.mtbc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="https://realtime.mtbc.com/Service.svc" location="http://10.10.30.47:8010/Service.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="https://realtime.mtbc.com/Imports">
      <xsd:import schemaLocation="http://10.10.30.47:8010/Service.svc?xsd=xsd0" namespace="https://realtime.mtbc.com" />
      <xsd:import schemaLocation="http://10.10.30.47:8010/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.10.30.47:8010/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service_MTBC271Response_InputMessage">
    <wsdl:part name="parameters" element="tns:MTBC271Response" />
  </wsdl:message>
  <wsdl:message name="Service_MTBC271Response_OutputMessage">
    <wsdl:part name="parameters" element="tns:MTBC271ResponseResponse" />
  </wsdl:message>
  <wsdl:message name="Service_MTBCResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:MTBCResponse" />
  </wsdl:message>
  <wsdl:message name="Service_MTBCResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:MTBCResponseResponse" />
  </wsdl:message>
  <wsdl:message name="Service_MTBC837String_InputMessage">
    <wsdl:part name="parameters" element="tns:MTBC837String" />
  </wsdl:message>
  <wsdl:message name="Service_MTBC837String_OutputMessage">
    <wsdl:part name="parameters" element="tns:MTBC837StringResponse" />
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="MTBC271Response">
      <wsdl:input wsaw:Action="https://realtime.mtbc.com/Service/MTBC271Response" message="tns:Service_MTBC271Response_InputMessage" />
      <wsdl:output wsaw:Action="https://realtime.mtbc.com/Service/MTBC271ResponseResponse" message="tns:Service_MTBC271Response_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MTBCResponse">
      <wsdl:input wsaw:Action="https://realtime.mtbc.com/Service/MTBCResponse" message="tns:Service_MTBCResponse_InputMessage" />
      <wsdl:output wsaw:Action="https://realtime.mtbc.com/Service/MTBCResponseResponse" message="tns:Service_MTBCResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MTBC837String">
      <wsdl:input wsaw:Action="https://realtime.mtbc.com/Service/MTBC837String" message="tns:Service_MTBC837String_InputMessage" />
      <wsdl:output wsaw:Action="https://realtime.mtbc.com/Service/MTBC837StringResponse" message="tns:Service_MTBC837String_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_Service" binding="i0:BasicHttpBinding_Service">
      <soap:address location="http://10.10.30.47:8010/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>